/* 
    From the body tag, move the content of our page away from the window edge
    Give the body tag a font-family of ['Gill Sans', 'Gill Sans MT']
 */

 body {
  margin: 5%;
  font-family: 'Gill Sans', 'Gill Sans MT';
  display: grid;
  justify-content: center;
}

.title {
  color: #16697A;
  text-align: center;
  margin-bottom: 1em;
}

.entry-textbox {
  background-color: #FFA62B;
  width: 20em;
  height: 10em;
  padding: 1em;
  margin-bottom: 0.5em;
  border: unset;
  border-radius: 25px;
}

/*
  - Go over to the index.html file and give the button a class of "button"
  - Back in the index.css file, target the button using its class
  - Give the button rounded edges using the border-radius property
  - Use the padding property to add space between the button's text and its edges
  - move the button to the right of the page
*/

#entryForm .button {
  border: unset;
  border-radius: 25px;
  padding: 5px 16px;
  margin-left: 76%;
}

#entryForm .button:focus {
  outline: none;
}

#entries {
  background: #16697A;
  color: #EDE7E3;
  font-family: cursive;
  padding: 2em;
  max-width: 20em;
  border: unset;
  border-radius: 25px;
  margin-top: 1em;
}

.entries-nav {
  padding-bottom: 1em;
}

.display-entry-button {
  margin: 0.2em;
}

.display-entry-button:hover {
  cursor: pointer;
}